<section class="contact-us pb-0" id="contact-us">
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
        <h2 class="text-center title wow fadeInUp mb-0.5 font-medium leading-tight" data-wow-delay=".2s" style="font-size: calc(1.325rem + .9vw);"> <a href="#contact-us">Contact Us</a></h2>
        <section class="locations-section mega-section flex justify-center">
            <div class="contact-info-panel">
                <div class="info-section">
                    <div class="">
                        <div>
                            <div class="info-panel wow fadeInUp" data-wow-delay=".4s ">
                                <h4 class="location-title">Talk to our Support Team:</h4>
                                <div class="line-on-side"> </div>
                                <div class="location-card  "><i class="flaticon-email icon"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">email:</h6><a class="email link"
                                            href="mailto:meetyouraihelper@gmail.com">meetyouraihelper@gmail.com</a>
                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Support:</h6><a class="sc-link"
                                            href="https://www.facebook.com/AIPROF2BC?mibextid=ZbWKwL"
                                            title="social media icon" target="_blank">
                                            <i class="fab fa-facebook-f sc-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Media:</h6><a class="sc-link"
                                            href="https://twitter.com/ai_profedu" title="social media icon"
                                            target="_blank">
                                            <i class="fab fa-twitter sc-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Demos:</h6><a class="sc-link"
                                            href="https://www.youtube.com/channel/UC0eO8rFeVcQMY_RDUjzu1Gw/featured"
                                            title="youtube channel" target="_blank">
                                            <i class="fab fa-youtube sc-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Customers:</h6><a class="sc-link"
                                            href="https://wa.me/message/JNKBLQKB7HBCP1" title="social media icon"
                                            target="_blank">
                                            <i class="fab fa-whatsapp sc-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Partners:</h6><a class="sc-link"
                                            href="https://www.linkedin.com/psettings/group/9509808"
                                            title="social media icon" target="_blank">
                                            <i class="fab fa-linkedin sc-icon"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="location-card"><i class="flaticon-Social Icons"></i>
                                    <div class="card-content">
                                        <h6 class="content-title">Influencers:</h6><a class="sc-link"
                                            href="https://instagram.com/aiprof2023?igshid=MzNlNGNkZWQ4Mg=="
                                            title="social media icon" target="_blank">
                                            <i class="fab fa-instagram sc-icon"></i>
                                        </a>
                                    </div>
                                </div>
        </section>
    </div>
</section>