{% load static %}
<section class="faq mega-section" id="faq">
    <div class="shape-top-left"></div>
    <div class="shape-bottom-right"></div>
    <div class="pattern-top-end-dir"></div>
    <div class="pattern-bottom-start-dir"></div>
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
        <div class="grid grid-cols-5">
            <div class="col-span-5 lg:col-span-2 px-2 flex justify-center items-center">
                <div class="faq-img start-dir-img-frame wow fadeIn" data-wow-delay="0.2s"><img class="img-fluid "
                        loading="lazy" src="{% static 'assets/images/faq/faqpromptnew.png' %}"
                        style="border-radius: 8px;" alt=""></div>
            </div>
            <div class="col-span-5 lg:col-span-3 px-2">
                <div class="sec-heading">
                    <div class="content-area">
                        <h2 class="title wow fadeInUp text-center" data-wow-delay=".2s"><span class='hollow-text'>Your
                            </span> Questions </h2>
                    </div>
                </div>
                <!--Start Accordion List For FAQ-->
                <div class="faq-accordion" id="accordion">
                    <div class="card mb-2">
                        <div class="card-header" id="heading-1">
                            <h5 class="mb-0 faq-title">
                                <button class="btn btn-link faq-btn collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What is
                                    AI Prof?</button>
                            </h5>
                        </div>
                        <div class="collapse " id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">AiProf transforms education
                                    by revolutionizing learning experiences,
                                    improving knowledge retention, and offering instant support,
                                    enhancing students' educational journeys.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-2">
                            <h5 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Is
                                    AI Prof free?</button>
                            </h5>
                        </div>
                        <div class="collapse " id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    We offer a free version with the Meet Your AI Prof chatbot for quick answers,
                                    along with two subscription plans for personalized solutions that cater to your
                                    specific needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-3">
                            <h5 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                    Is AiProf for Charity?</button>
                            </h5>
                        </div>
                        <div class="collapse " id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">
                                    Yes, AiProf also operates as a charity,
                                    dedicated to providing free educational resources and support to students.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header " id="heading-4">
                            <h5 class="mb-0 faq-title">
                                <button class="btn btn-link  faq-btn  collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Is
                                    AIProf Safe?</button>
                            </h5>
                        </div>
                        <div class="collapse " id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p class="faq-answer">AIProf is committed to data security, employing stringent measures
                                    to safeguard
                                    your personal and business information, guaranteeing its protection.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>