{% load static %}
<section class="faq mega-section" id="faq">
    <div class="shape-top-left"></div>
    <div class="shape-bottom-right"></div>
    <div class="pattern-top-end-dir"></div>
    <div class="pattern-bottom-start-dir"></div>
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
        <div class="grid grid-cols-5">
            <div class="col-span-5 lg:col-span-2 px-2 flex justify-center items-center">
                <div class="faq-img start-dir-img-frame wow fadeIn" data-wow-delay="0.2s"><img class="img-fluid "
                        loading="lazy" src="{% static 'assets/images/faq/faqpromptnew.png' %}"
                        style="border-radius: 8px;" alt=""></div>
            </div>
            <div class="col-span-5 lg:col-span-3 px-2">
                <div class="sec-heading">
                    <div class="content-area">
                        <h2 class="title wow fadeInUp text-center" data-wow-delay=".2s"><span class='hollow-text'>Your
                            </span> Questions </h2>
                    </div>
                </div>
                <!--Start Accordion List For FAQ-->
                <!-- <div class="faq-accordion" id="accordion">
                    <div class="card mb-2 rounded">
                        <div class="card-header" id="heading-1" _="on click set !hidden on #collapse-1 then set hidden on .collapse:not(#collapse-1)">
                            <h5 class="mb-0 faq-title">
                                <button class="btn-link faq-btn">What is AI Prof?</button>
                            </h5>
                        </div>
                        <div class="collapse hidden" id="collapse-1">
                            <div class="card-body">
                                <p class="faq-answer">AiProf transforms education by revolutionizing learning experiences, improving knowledge retention, and offering instant support, enhancing students' educational journeys.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 rounded">
                        <div class="card-header" id="heading-2" _="on click set !hidden on #collapse-2 then set hidden on .collapse:not(#collapse-2)">
                            <h5 class="mb-0 faq-title">
                                <button class="btn-link faq-btn">Is AI Prof free?</button>
                            </h5>
                        </div>
                        <div class="collapse hidden" id="collapse-2">
                            <div class="card-body">
                                <p class="faq-answer">We offer a free version with the Meet Your AI Prof chatbot for quick answers, along with two subscription plans for personalized solutions that cater to your specific needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 rounded">
                        <div class="card-header" id="heading-3" _="on click set !hidden on #collapse-3 then set hidden on .collapse:not(#collapse-3)">
                            <h5 class="mb-0 faq-title">
                                <button class="btn-link faq-btn">Is AiProf for Charity?</button>
                            </h5>
                        </div>
                        <div class="collapse hidden" id="collapse-3">
                            <div class="card-body">
                                <p class="faq-answer">Yes, AiProf also operates as a charity, dedicated to providing free educational resources and support to students.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 rounded">
                        <div class="card-header" id="heading-4" _="on click set !hidden on #collapse-4 then set hidden on .collapse:not(#collapse-4)">
                            <h5 class="mb-0 faq-title">
                                <button class="btn-link faq-btn">Is AI Prof Safe?</button>
                            </h5>
                        </div>
                        <div class="collapse hidden" id="collapse-4">
                            <div class="card-body">
                                <p class="faq-answer">AIProf is committed to data security, employing stringent measures to safeguard your personal and business information, guaranteeing its protection.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <div class="max-w-4xl mx-auto font-sans">
                    {% for faq in faqs %}
                    
                    <details
                        class="faq-item group border border-gray-700 rounded-lg p-4 mb-4 open:bg-transparent open:ring-1 open:ring-gray-600 shadow transition-all duration-700 ease-in-out" name="{{ faq.reqs }}">
                        <summary class="text-lg font-semibold text-[#4ecddb] cursor-pointer">
                            {{ faq.question }}
                        </summary>
                        <div class="my-2 text-sm leading-6 font-medium text-white tracking-wide">
                            <p class="p-4">{{ faq.answer }}</p>
                        </div>
                    </details>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>