<!-- <header class="bg-gray-800 p-4 flex justify-between items-center">
    <a href="{% url 'index' %}">
        <img src="https://readymadeui.com/readymadeui-white.svg" alt="logo" class="w-40" />
    </a>
    <div>
         <a href="{% url 'auth_view' %}" class="text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700">Sign In</a>
        <a href="{% url 'create_assistant' %}" class="text-white font-bold py-2 px-4 rounded bg-green-500 hover:bg-green-700 ml-4">Create Assistant</a>
         redirect to auth page 
        <a href="{% url 'auth_view' %}" class="text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700">Sign In</a>
        redirect to create assistant page
        <a href="{% url 'create_assistant' %}" class="text-white font-bold py-2 px-4 rounded bg-green-500 hover:bg-green-700 ml-4">Create Assistant</a>
    </div>
</header> -->

{% load static %}

<header class="header-basic" id="page-header">
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
        <!--Start navbar-->
        <nav class="menu-navbar" id="main-nav">
            <div class="header-logo">
                <a class="logo-link" href="#page-hero">
                    <img class="logo-img light-logo" loading="lazy" src="{% static 'assets/images/logo/logo.svg' %}" alt="logo" />
                </a>
            </div>
            <nav class="links menu-wrapper">
                <ul class="list-js links-list">
                    <li class="nav-item menu-item has-sub-menu">
                        <a class="nav-link menu-link active" href="#page-hero">Home</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="#about">About</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="https://meetyourai.github.io/AIProf/blog/BlogIndex">Blog</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item menu-item">
                        <a class="nav-link menu-link" href="#contact-us">Contact Us</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <div class="cta-links-area flex justify-center">
                        <li class="nav-item menu-item">
                            <a href="{% url 'account_login' %}" class="btn btn-outline btn-[var(--clr-dark-blue)] " onclick="showLoading()">Sign In</a>
                        </li>
                    </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="cta-links-area space-y-2 lg:hidden">
                        <li class="nav-item menu-item">
                            <a class="btn btn-primary" 
                               _="on click remove .hidden from #modal 
                               then remove .close-menu from .menu-toggler 
                               then remove .show from .menu-wrapper">
                                Create Assistant
                            </a>
                        </li>
                        <li class="nav-item menu-item">
                            {% csrf_token %}
                            <a class="btn btn-primary" 
                               hx-post="{% url 'account_logout' %}" 
                               hx-trigger="click" 
                               hx-target="body" 
                               hx-swap="outerHTML" 
                               hx-redirect="{% url 'index' %}"
                               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                               onclick="showLoading()"
                               _="on click remove .close-menu from .menu-toggler 
                               then remove .show from .menu-wrapper">
                                Logout
                            </a>
                        </li>
                    </div>
                   
                    {% endif %}
                </ul>
            </nav>
            {% if request.user.is_authenticated %}
            <div class="dropdown dropdown-end hidden space-y-2 p-1.5 lg:block">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar" onclick="toggleDropdown(this)">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component" src="https://i.pravatar.cc/150?img=1" />
                    </div>
                </div>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" style="background-color: var(--clr-dark-blue);color: white;">
                    <li>
                        <a class="" 
                           _="on click remove .hidden from #modal 
                           then remove .close-menu from .menu-toggler 
                           then remove .show from .menu-wrapper">
                            Create Assistant
                        </a>
                    </li>
                    <li>
                        {% csrf_token %}
                        <a 
                           hx-post="{% url 'account_logout' %}" 
                           hx-trigger="click" 
                           hx-target="body" 
                           hx-swap="outerHTML" 
                           hx-redirect="{% url 'index' %}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                           onclick="showLoading()"
                           _="on click remove .close-menu from .menu-toggler 
                           then remove .show from .menu-wrapper">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <!-- for mobile navbar menu -->
            <div class="controls-box">
                <!--Menu Toggler button-->
                <div class="control  menu-toggler"><span></span><span></span><span></span></div>
            </div>
        </nav>
    </div>
    <script>
        function showLoading() {
            // Display a loading indicator
            const loadingDiv = document.createElement('div');
            loadingDiv.id = 'loading';
            loadingDiv.style.position = 'fixed';
            loadingDiv.style.top = '0';
            loadingDiv.style.left = '0';
            loadingDiv.style.width = '100%';
            loadingDiv.style.height = '100%';
            loadingDiv.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
            loadingDiv.style.display = 'flex';
            loadingDiv.style.justifyContent = 'center';
            loadingDiv.style.alignItems = 'center';
            loadingDiv.style.zIndex = '1000';
            loadingDiv.innerHTML = '<div class="text-white font-bold">Loading...</div>';
            document.body.appendChild(loadingDiv);
        }

        function toggleDropdown(element) {
            const dropdown = element.nextElementSibling;
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none";
                } else {
                    dropdown.style.display = "block";
                }
            }
    </script>
    <!--End navbar-->
</header>
