{% load static %}
<footer class="page-footer dark-color-footer" id="page-footer">

    <div class="overlay-photo-image-bg" data-bg-img="{% static 'assets/images/sections-bg-images/footer-bg-1.jpg' %}"
        data-bg-opacity=".25"></div>
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
        <div class="grid grid-cols-12 footer-cols">
            <div class="col-span-12 md:col-span-8 lg:col-span-4 footer-col">
                <img class="img-fluid footer-logo" loading="lazy" src="{% static 'assets/images/logo/logo.svg' %}"
                    alt="logo" />
                <div class="footer-col-content-wrapper">
                    <p class="footer-text-about-us">
                        AiProf Your Most Helpful Teacher Ever!
                    </p>
                </div>
            </div>
            <div class="col-span-6 lg:col-span-2 footer-col mt-2 text-center">
                <div class="footer-col-content-wrapper">
                    <ul class="footer-menu ">
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link"
                                href="#page-hero" alt="Starting page">Home</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link"
                                href="#about" alt="about AI Prof Section">About Us</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link"
                                href="#services" alt="services provided by AI Prof">Services</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i>
                            <a class="footer-menu-link" href="https://meetyourai.github.io/AIProf/blog/BlogIndex"
                                alt="AI Prof Blog page" target="_blank">Our Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-6 lg:col-span-2 footer-col mt-2 text-center">
                <div class="footer-col-content-wrapper">
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i>
                            <a class="footer-menu-link" href="#pricing" alt="AI Prof pricing section">Pricing</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i>
                            <a class="footer-menu-link" href="#faq"
                                alt="section about frequently asked Questions">Faqs</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i>
                            <a class="footer-menu-link" href="#why" alt="section why choose AI Prof">How it works</a>
                        </li>
                        <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link"
                                href="https://github.com/MeetYourAI/AIProf/tree/dev/assets" alt="AI Prof brand assets"
                                target="_blank">Brand Assets</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-4 footer-col text-center">
                <h2 class=" footer-col-title">contact information</h2>
                <div class="footer-col-content-wrapper">
                    <div class="contact-info-card"><i class="bi bi-envelope icon"></i><a class="text-lowercase  info"
                            href="mailto:meetyouraihelper@gmail.com">meetyouraihelper@gmail.com</a>
                    </div>
                    <div class="contact-info-card"><i class="bi bi-geo-alt icon"></i>
                        <span class="info">AI2BC Organization</span>
                    </div>
                    <div class="contact-info-card"><i class="bi bi-phone icon"></i><a class="info"
                            href="tel:+20123456789">+447762293742</a></div>
                    <div class="contact-info-card">
                        <div class="social-icons">
                            <div class="sc-wrapper dir-row sc-size-32">
                                <ul class="sc-list">
                                    <li class="sc-item " title="Facebook">
                                        <a class="sc-link" href=" https://www.facebook.com/AIPROF2BC?mibextid=ZbWKwL"
                                            title="social media icon" target="_blank">
                                            <i class="fab fa-facebook-f sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="twitter">
                                        <a class="sc-link" href=" https://twitter.com/ai_profedu"
                                            title="social media icon" target="_blank">
                                            <i class="fab fa-twitter sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="Whatsapp">
                                        <a class="sc-link" href=" https://wa.me/message/JNKBLQKB7HBCP1"
                                            title="Social Media icon" target="_blank">
                                            <i class="fab fa-whatsapp sc-icon"></i>
                                        </a>
                                    </li>
                                    <li class="sc-item " title="youtube">
                                        <a class="sc-link"
                                            href="https://www.youtube.com/channel/UC0eO8rFeVcQMY_RDUjzu1Gw/featured"
                                            title="youtube channel" target="_blank">
                                            <i class="fab fa-youtube sc-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6 flex justify-start mb-3">
                    <p class="credits">
                        &copy; 2023
                        This Project is
                        <a class="LICENSE-link" href="LICENSE.html">MIT Licensed </a>
                    </p>
                </div>
                <div class="col-span-12 md:col-span-6 flex justify-end">
                    <div class="terms-links"><a href="rules.html">Terms of Use </a>
                        | <a href="privacy-policy.html">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>