<section class="pricing mega-section" id="pricing">
    <div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl px-4 mx-auto">
        <div class="sec-heading">
            <div class="content-area">
                <h2 class="title wow fadeInUp text-center" data-wow-delay=".2s"><span
                        class='hollow-text'>affordable</span>
                    pricing plans</h2>
            </div>
            <div class="cta-area wow fadeInUp" data-wow-delay=".6s"><a class="cta-btn btn-solid" href="#contact-us">Get
                    in touch<i class="bi bi-arrow-right icon "></i></a></div>
        </div>
        <div class="flex flex-wrap gap-2 justify-between">
            <!--First Plan-->
            <div class="price-plan w-full mx-auto md:w-[48%] xl:w-1/4">
                <div class="plan featured wow fadeInUp" data-wow-delay=".1s ">
                    <div class="plan-head"><i class="flaticon-nft-1 plan-icon"></i>
                        <h4 class="plane-name">Free Plan</h4>
                        <div class="plan-price" style="height: 90px;">
                            <h3 class="price">Forever</h3>
                        </div>
                    </div>

                    <div class="plan-details" style="margin-top: 30px;">
                        <ul class="plan-list">
                            <li class="plan-feat">
                                <span class="feat-text">Ask Me Anything About Learning</span>
                            </li>
                        </ul>
                    </div>
                    <div class="plan-cta" style="margin-top: 60px;"><a class="cta-btn btn-outline "
                            href="#ask-social">Try Now</a></div>
                </div>
            </div>
            <!--Second-plan-->
            <div class="price-plan w-full mx-auto md:w-[48%] xl:w-1/4">
                <div class="plan wow fadeInUp" data-wow-delay=".3s ">
                    <div class="plan-head"><i class="flaticon-virtual-reality plan-icon"></i>
                        <h4 class="plane-name">Shared Plan</h4>
                        <div class="plan-price" style="height: 90px;">
                            <h3 class="price">25<sup class="currency-symbol">$</sup></h3><span
                                class="per">Monthly</span>
                        </div>
                    </div>

                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat">
                                <span class="feat-text">Our Teacher.</span>
                            </li>
                            <li class="plan-feat">
                                <span class="feat-text">Tailored To Your Needs</span>
                            </li>
                            <li class="plan-feat">
                                <span class="feat-text">Not For Profit Discounts</span>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="container max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl">
                        <button id="paypal-button" type="button">
                            <span id="paypal-button-title">
                                Buy
                            </span>
                            <span id="paypal-logo">
                                <i id="firstPartLogo">Pay</i><i id="secondPartLogo">Pal</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Third-plan-->
            <div class="price-plan w-full mx-auto md:w-1/2 xl:w-1/4">
                <div class="plan wow fadeInUp" data-wow-delay=".5s ">
                    <div class="plan-head"><i class="flaticon-box plan-icon"></i>
                        <h4 class="plane-name">My Plan</h4>

                        <div class="plan-price" style="height: 90px;">
                            <h3 class="price">99<sup class="currency-symbol">$</sup></h3><span
                                class="per">Monthly</span>
                        </div>
                    </div>
                    <div class="plan-details">
                        <ul class="plan-list">
                            <li class="plan-feat">
                                <span class="feat-text">Your Teacher.</span>
                            </li>
                            <li class="plan-feat">
                                <span class="feat-text">Tailored To Your Needs</span>
                            </li>
                            <li class="plan-feat">
                                <span class="feat-text">Not For Profit Discounts</span>
                            </li>
                        </ul>
                    </div>

                    <div
                        class="container max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl">
                        <button id="paypal-button" type="button">
                            <span id="paypal-button-title">
                                Buy
                            </span>
                            <span id="paypal-logo">
                                <i id="firstPartLogo">Pay</i><i id="secondPartLogo">Pal</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>