<div class="max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4 my-10">
    <h2 class="text-center text-4xl font-semibold mb-10">Support Our Sponsors</h2>
    <div class="flex items-center gap-3.5 mx-10">
        <div class="w-1/4">
            <div class="card mb-6 rounded-md bg-neutral-800">
                <div class="client-logo flex justify-center">
                    <a target="_blank" href="https://click.linksynergy.com/link?id=4PJxGXS%2fRSM&offerid=189673.26539781302948337&bids=189673.26539781302948337&bids=189673.26539781302948337&type=2&murl=http%3a%2f%2fwww.alibris.com%2fsearch%2fbooks%2fisbn%2f9781302948337&" ><IMG class="img-fluid logo" src="http://www0.alibris-static.com/isbn/9781302948337.gif"></a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <div class="card mb-6 rounded-md bg-neutral-800">
                <div class="client-logo flex justify-center">
                    <a target="_blank" href="https://click.linksynergy.com/link?id=4PJxGXS%2fRSM&offerid=189673.26539780843178425&bids=189673.26539780843178425&bids=189673.26539780843178425&type=2&murl=http%3a%2f%2fwww.alibris.com%2fsearch%2fbooks%2fisbn%2f9780843178425&" ><IMG class="img-fluid logo" src="http://www0.alibris-static.com/isbn/9780843178425.gif"></a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <div class="card mb-6 rounded-md bg-neutral-800">
                <div class="client-logo flex justify-center">
                    <a target="_blank" href="https://click.linksynergy.com/link?id=4PJxGXS%2fRSM&offerid=189673.26539780547401638&bids=189673.26539780547401638&bids=189673.26539780547401638&type=2&murl=http%3a%2f%2fwww.alibris.com%2fsearch%2fbooks%2fisbn%2f9780547401638&" ><IMG class="img-fluid logo" src="http://www0.alibris-static.com/isbn/9780547401638.gif"></a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <div class="card mb-6 rounded-md bg-neutral-800">
                <div class="client-logo flex justify-center">
                    <a target="_blank" href="https://click.linksynergy.com/link?id=4PJxGXS%2fRSM&offerid=189673.26539780763688264&bids=189673.26539780763688264&bids=189673.26539780763688264&type=2&murl=http%3a%2f%2fwww.alibris.com%2fsearch%2fbooks%2fisbn%2f9780763688264&" ><IMG class="img-fluid logo" src="http://www0.alibris-static.com/isbn/9780763688264.gif"></a>
                </div>
            </div>
        </div>
    </div>
</div>