{% load static %}
<section class="testimonials testimonials-1-col has-dark-bg mega-section " id="testimonials">
    <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'assets/images/sections-bg-images/1.jpg' %}"
        data-bg-opacity=".25"></div>
    <div class="container max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl">
        <div class="sec-heading centered ">
            <div class="content-area"><span class=" pre-title wow fadeInUp "
                    data-wow-delay=".2s">testimonials</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Users <span
                        class='hollow-text'>testimonials</span></h2>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-10  mx-auto">
                <div class="swiper-container wow fadeInUp" data-wow-delay="0.2s">
                    <div class="swiper-wrapper">
                        <!--First Slide-->
                        <div class="swiper-slide">
                            <div class="testimonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy"
                                            src="{% static 'assets/images/testimonials/Testimonial 1.png' %}" alt="First Slide ">
                                    </div>
                                    <div class="cta-links-area d-flex justify-content-center">
                                        <div id="toggleButton4"> <a class=" btn-outline cta-link cta-link-primary"
                                                href="https://www.youtube.com/watch?v=qiHlZPDVPbQ" target="_blank"
                                                alt="video about the benefits of AI in education">
                                                Demo Video
                                            </a>
                                        </div>

                                    </div>
                                    <div class="customer-info ">
                                        <div class="customer-details">
                                            <p class="customer-name">Micheal Arif</p>
                                            <p class="customer-role">Student</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Second Slide-->
                        <div class="swiper-slide">
                            <div class="testimonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy"
                                            src="{% static 'assets/images/testimonials/Testimonial2new.png' %}"
                                            alt="First Slide ">
                                    </div>
                                    <div class="cta-links-area d-flex justify-content-center">
                                        <div id="toggleButton4"> <a class=" btn-outline cta-link cta-link-primary"
                                                href="https://www.youtube.com/watch?v=6xKQ2Yx2MTg" target="_blank"
                                                alt="video about the benefits of AI in education">
                                                Demo Video
                                            </a>
                                        </div>
                                    </div>
                                    <div class="customer-info">
                                        <div class="customer-details">
                                            <p class="customer-name">Henry Lawson</p>
                                            <p class="customer-role">Teacher</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--third Slide-->
                        <div class="swiper-slide">
                            <div class="testimonial-card d-flex align-items-center justify-content-center">
                                <div class="testimonial-content">
                                    <div class="customer-img "><img class="img-fluid " loading="lazy"
                                            src="{% static 'assets/images/testimonials/Testimonial 3.png' %}"
                                            alt="First Slide "></div>
                                    <div class="cta-links-area d-flex justify-content-center">
                                        <div id="toggleButton4"> <a class=" btn-outline cta-link cta-link-primary"
                                                href="https://www.youtube.com/shorts/bBKBxK3YSWA" target="_blank"
                                                alt="video about the benefits of AI in education">
                                                Demo Video
                                            </a>
                                        </div>
                                    </div>
                                    <div class="customer-info ">
                                        <div class="customer-details">
                                            <p class="customer-name">Janet</p>
                                            <p class="customer-role">Student</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--navigation buttons-->
                    <div class="swiper-button-prev">
                        <div class="left-arrow"><i class="bi bi-chevron-left icon "></i>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <div class="right-arrow"><i class="bi bi-chevron-right icon "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>