# python git ignore
app/__pycache__/
app/configs/__pycache__/
app/utils/__pycache__/
app/middleware/__pycache__/
app/modals/__pycache__/

app/*.pyc


# django git ignore
.DS_Store


# vercel git ignore
.vercel


.idea

# Ignore environment files
app/.env

.env

myenv
venv