{% load static %}
<div class=" bg-[#202020]">
    <div class="max-w-7xl px-4 mx-auto flex h-16 items-center justify-between">
        <div class="flex items-center">
            <a class="flex items-center space-x-2" href="{% url 'index' %}">
                <img class="w-24 font-sans" src="{% static 'assets/images/logo/logo.svg' %}" alt="AIPro Logo" />
            </a>
        </div>
        
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar bg-white text-black hover:bg-gray-100"
                    _="on click toggle .hidden on #dropdownMenu">
                    <div class="w-5 rounded-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            style="enable-background:new 0 0 16 16" xml:space="preserve" stroke="currentColor"
                            stroke-width="0.5" fill="currentColor">
                            <path
                                d="M16 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zM27 32a1 1 0 0 1-1-1v-6.115a6.95 6.95 0 0 0-6.942-6.943h-6.116A6.95 6.95 0 0 0 6 24.885V31a1 1 0 1 1-2 0v-6.115c0-4.93 4.012-8.943 8.942-8.943h6.116c4.93 0 8.942 4.012 8.942 8.943V31a1 1 0 0 1-1 1z" />
                        </svg>
                    </div>
                </div>
                <div id="dropdownMenu" tabindex="0"
                    class="dropdown-content menu z-20 p-4 mt-1 shadow bg-white text-black rounded-lg w-56 hidden">
                    <div class="px-2 py-2">
                        <p class="text-sm font-medium">John Doe</p>
                        <p class="text-xs text-gray-500">john.doe@example.com</p>
                    </div>
                    <div class="divider my-1"></div>
                    <ul class="menu menu-sm">
                        <li><a>Profile</a></li>
                        <li><a>Settings</a></li>
                        <li class="divider my-1"></li>
                        <li><a>Log out</a></li>
                    </ul>
                </div>
            </div>
        
    </div>
</div>