{% load static %}
    <div class="relative flex h-14 w-full items-center justify-between gap-2 border-b border-[hsla(0,0%,100%,.15)] px-3 shrink-0" id="navbar">
        <div class="flex flex-col">
            <a href="{% url 'index' %}">
                <img class="w-24 font-sans" src="{% static 'assets/images/logo/logo.svg' %}" alt="AIPro Logo" />
            </a>
        </div>
        <div class="dropdown dropdown-end">
            <div class="flex items-center" _="on click toggle .hidden on #dropdownMenu">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img alt="Tailwind CSS Navbar component" src="https://i.pravatar.cc/150?img=1" />
                        </div>
                    </div>
                    <span tabindex="0" class="ml-2 text-white"><button>Your Name</button></span>
                </div>
                <ul id="dropdownMenu" tabindex="0" class="menu menu-sm dropdown-content rounded-box mt-3 w-52 p-2 shadow hidden"
                    style="background-color: var(--clr-dark-blue);color: white; z-index: 1000;">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>

    </div>