{% extends 'base.html' %}

{% block content %}

<form hx-post="/upload_doc" hx-encoding="multipart/form-data" class="p-8 bg-gray-900 rounded-lg shadow-lg">
    <a href="{% url 'index' %}" class="text-white font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700 mb-4">Back to Home</a>
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-white text-lg font-bold mb-2 mt-4">Name</label>
        <input type="text" name="assistant_name" placeholder="Name your GPT" class="input input-bordered w-full bg-gray-800 text-white" />
    </div>
    <div class="mb-4">
        <label class="block text-white text-lg font-bold mb-2">Description</label>
        <input type="text" name="subject" placeholder="Add a short description about what this GPT does" class="input input-bordered w-full bg-gray-800 text-white" />
    </div>
    <div class="mb-4">
        <label class="block text-white text-lg font-bold mb-2">Instructions</label>
        <textarea name="teacher_instructions" placeholder="What does this GPT do? How does it behave? What should it avoid doing?" class="textarea textarea-bordered w-full bg-gray-800 text-white" rows="4"></textarea>
    </div>
    <div class="mb-4">
        <input type="file" name="knowledge_base" id="fileInput" multiple class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-700 file:text-white hover:file:bg-gray-600"
               _="on change
                  repeat for file in my.files
                  log file
                  set match to file.type in ['image/png', 'image/jpeg', 'image/jpg']

                  if match.length > 0
                      set condition to true
                  else
                      set condition to false
                  end
                  
                  if condition
                      log 'true'
                      set img to document.createElement('img')
                      set img.src to URL.createObjectURL(file)
                      set img.style.height to '15rem'
                      set img.style.display to 'block'
                      set img.style.marginRight to '5px'
                      set img.style.marginLeft to '5px'
                      set fileInfo to document.createElement('p')
                      set fileInfo.textContent to 'File Name: ' + file.name + ', Type: ' + file.type + ', Size: ' + file.size + ' bytes'
                      set fileInfo.style.fontSize to '14px'
                      set fileInfo.style.marginTop to '0'
                      set imgHTML to img.outerHTML
                      append imgHTML to #files-container
                    else
                      append '<p>' + file.name + '</p>' to #files-container
                    end
                  end
                  " />
        <div class="flex items-center mt-4" id="files-container"></div>
    </div>
    <button type="submit" hx-post="/api/create_assistant/" class="btn btn-primary">Create GPT</button>
</form>

{% endblock content %}
