{% extends "base.html" %}
{% block content %}
<div class="card bg-white text-gray-800 rounded-lg shadow-md overflow-hidden cursor-pointer" id="assistant-detail">
    <div class="card-body p-4 rounded-lg" style="border: 1px solid rgba(var(--clr-main-rgb), 0.35)">
        <div class="flex items-center gap-4 mb-4">
            <div class="avatar">
                <div class="w-16 rounded-full">
                    <img src="{{ assistant.avatar_url }}" alt="{{ assistant.name }}" />
                </div>
            </div>
            <div>
                <h3 class="font-semibold text-lg text-black">{{ assistant.name }}</h3>
                <p class="text-sm text-gray-600">{{ assistant.subject }} - {{ assistant.topic }}</p>
            </div>
        </div>

        <div class="flex items-center justify-between rounded-lg">
            <div>
                <h2 class="">{{ assistant.description }}</h2>
                <p class="text-sm text-gray-400">
                    {{ assistant.topic }}
                </p>
            </div>
            <a 
                class="px-4 py-2 rounded transition-colors duration-200"
                style="background: var(--clr-main); border: 1px solid var(--clr-main); color: white;"
                onmouseover="this.style.backgroundColor='#0890cc'"
                onmouseout="this.style.backgroundColor='var(--clr-main)'"
                href="{% url 'assistant_chat' assistant.id %}"
            >
                Chat
            </a>
        </div>
        <div class="rating rating-xs">
            {% for i in 1..5 %}
                <input type="radio" name="rating-{{ assistant.id }}" class="mask mask-star-2 bg-orange-400" {% if i == assistant.rating %}checked="checked"{% endif %} />
            {% endfor %}
            <span class="ml-2 text-xs font-semibold">{{ assistant.rating }}</span>
        </div>
        <p class="text-end">{{ assistant.interactions }} interactions</p>
    </div>
</div>

{% endblock %}
