<!-- list details of assistants -->

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-h-[calc(100vh-16rem)] overflow-y-auto p-2">
    {% if assistants %}
    {% for assistant in assistants %}
    <div class="card bg-white text-gray-800 rounded-lg shadow-md overflow-hidden">
        <div class="card-body p-4 rounded-lg" style="border: 1px solid rgba(var(--clr-main-rgb), 0.35)">
            <div class="flex items-center gap-4 mb-4">
                <div class="avatar">
                    <div class="w-16 rounded-full">
                        <img src="https://i.pravatar.cc/150?img=1" />
                    </div>
                </div>
                <div>
                    <h3 class="font-semibold text-lg text-black">{{assistant.name}}</h3>
                    <p class="text-sm text-gray-600">{{assistant.subject}} - {{assistant.topic}}</p>
                </div>
            </div>

            <div class="flex items-center justify-between rounded-lg">
                <div>
                    <h2 class="">{{ assistant.description}}</h2>
                    <p class="text-sm text-gray-400">
                        {{ assistant.topic | default:"" }}
                    </p>
                </div>
            </div>
            <div class="rating rating-xs">
                <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" checked="checked" />
                <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                <input type="radio" name="rating-5" class="mask mask-star-2 bg-orange-400" />
                <span class="ml-2 text-xs font-semibold">4.5</span>
            </div>
            <p class="text-end">100 interactions</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center col-span-1 lg:col-span-2">
        <p class="text-gray-500">No assistants available at the moment.</p>
    </div>
    {% endif %}
</div>
