{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Search Input -->
<div class="min-h-screen bg-gradient-to-b from-purple-50 to-white text-black" hx-replace-url="{% url 'list_assistants' %}">
 
    {% include 'modal/navbar.html' %}
  
  <div class="sticky top-14 z-30 bg-white p-4 border-b">
    <div class="flex items-center gap-4">
        <div class="relative lg:hidden">
          <input id="my-drawer" type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <label for="my-drawer" class="btn border-gray-300 border bg-white text-black hover:bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
              </svg>
            </label>
          </div>
          <div class="drawer-side z-50">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="bg-white min-h-full w-80 p-4">
              <div class="flex justify-between items-center p-4 border-b">
                <h3 class="font-semibold text-lg">Filters</h3>
                <label for="my-drawer"
                  class="btn btn-sm btn-circle border-gray-300 border bg-white text-black hover:bg-gray-100">✕</label>
              </div>
              {% include 'assistant/form_filters.html' %}
            </div>
          </div>
      </div>
      <div class="w-full lg:w-64">
        <label id="search-input" class="input input-bordered flex items-center gap-2 bg-transparent w-full">
          <input type="text" hx-push-url="true" class="grow" autocomplete="off" placeholder="Search"
            hx-get="{% url 'list_assistants' %}" hx-target="#assistants-list" hx-trigger="keyup changed delay:500ms"
            name="keyword" hx-include="[name='subject']:checked,[name='topic']:checked,[name='keyword']" />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
            <path fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
          </svg>
        </label>
      </div>

      <!-- Sort dropdown -->
      <div class="hidden sm:block">
        <select 
          class="select select-bordered w-full bg-white"
          name="sort"
          hx-get="{% url 'list_assistants' %}"
          hx-push-url="true"
          hx-target="#assistants-list"
          hx-trigger="change"
          hx-include="[name='subject']:checked,[name='topic']:checked,[name='keyword'],[name='filter_rating']:checked,[name='sort'],[name='created_by_me']"
        >
          <option value="" disabled>Select sorting option</option>
          {% for value, label in sorting_options.items %}
            <option value="{{ label}}" {% if label == current_sort %}selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>

      <!-- Created by me filter -->
      <!-- <div class="flex items-center">
        <label class="cursor-pointer label gap-2">
          <span class="label-text">Created by me</span>
          <input type="checkbox" 
                 class="checkbox checkbox-primary" 
                 name="created_by_me"
                 hx-get="{% url 'list_assistants' %}"
                 hx-push-url="true"
                 hx-target="#assistants-list"
                 hx-trigger="change"
                 hx-include="[name='subject']:checked,[name='topic']:checked,[name='keyword'],[name='filter_rating']:checked,[name='sort'],[name='created_by_me']"
                 {% if created_by_me %}checked{% endif %}
          >
        </label>
      </div> -->
    </div>

  </div>

  <div>
    <div class="hidden lg:flex">
      {% include 'assistant/form_filters.html' %}
    </div>
 
    <main class="flex-1 lg:ml-72 pt-14" style="z-index: 1;" id="assistants-list" hx-get="{% url 'list_assistants' %}" hx-trigger="load"
      hx-replace-url="false">
    
    </main>
  </div>
</div>

<script>
  function handleScroll() {
    const searchBar = document.getElementById('search-bar');
    const navbar = document.getElementById('navbar');
    const searchInput = document.getElementById('search-input');

    if (window.scrollY > 20) {
      searchBar.style.transition = 'top 0.3s ease';
      searchBar.classList.remove('top-28');
      searchBar.classList.add('top-16');
      searchInput.classList.remove('bg-transparent');
      searchInput.classList.add('bg-purple-600');
      navbar.classList.add('bg-purple-600',"shadow-xl" , "overflow-hidden");
    } else {
      searchBar.style.transition = 'top 0.3s ease';
      searchBar.classList.remove('top-16');
      searchBar.classList.add('top-28');
      searchInput.classList.remove('bg-purple-600');
      searchInput.classList.add('bg-transparent');
      navbar.classList.remove('bg-purple-600', "shadow-xl" , "overflow-hidden");
    }
  }

  window.addEventListener('scroll', handleScroll);
</script>

{% endblock %}