{% extends "base.html" %}

{% block content %}
<!-- Search Input -->
<div class="h-full max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl mx-auto px-4 pb-10" style="min-height: 100vh;">
    {% include 'modal/navbar.html' %}
    <div class="flex items-center justify-end mb-6 mt-6">
        <label class="input input-bordered bg-transparent flex items-center gap-2 w-full md:w-60">
            <input 
                type="text" 
                class="grow" 
                placeholder="Search" 
                hx-get="{% url 'list_assistant_partial' %}" 
                hx-target="#assistants-list" 
                hx-trigger="keyup changed delay:500ms" 
                name="search" />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
            </svg>
        </label>
    </div>
    <!-- Filters Section -->
    <div class="mb-6 space-y-2">
        <!-- Subject Filter -->
        <select name="subject" hx-get="{% url 'list_assistant_partial' %}" hx-target="#assistants-list"
            hx-trigger="change" class="select select-bordered w-40">
            <option value="">All Subjects</option>
            <option value="Math">Math</option>
            <option value="English">English</option>
            <option value="Science">Science</option>
            <option value="History">History</option>
            <option value="Art">Art</option>
        </select>

        <!-- Topic Filter -->
        <select name="topic" hx-get="{% url 'list_assistant_partial' %}" hx-target="#assistants-list"
            hx-trigger="change" class="select select-bordered w-40">
            <option value="">All Topics</option>
            <option value="Algebra">Algebra</option>
            <option value="Grammar">Grammar</option>
            <option value="Physics">Physics</option>
            <option value="World War II">World War II</option>
            <option value="Painting">Painting</option>
        </select>
    </div>

    <div id="assistants-list" hx-get="{% url 'list_assistant_partial' %}" hx-trigger="load">
    </div>

</div>
{% endblock %}