{% extends 'base.html' %}

{% block content %}
{% include 'components/header.html' %} 
{% include 'assistant_creation_form.html' %}
{% include 'components/hero.html' %}
{% include 'components/sponsors.html' %}
{% include 'components/services.html' %}
{% include 'components/about.html' %}
{% include 'components/pricing_section.html' %}
{% include 'components/testimonials.html' %}
{% include 'components/faq.html' with faqs=faqs %}
{% include 'components/contact_form.html' %}
{% include 'components/page_footer.html' %} 
<div class="back-to-top  show" id="back-to-top"><i class="bi bi-arrow-up icon "></i></div>
{% endblock content %}